langgraph
langsmith
langchain[openai]
langchain-openai
langchain-google-genai
google-generativeai
fastapi
uvicorn[standard]
python-dotenv
pytz
pandas
numpy
openpyxl
xlrd
matplotlib
boto3
python-docx
langchain-google-genai
google-generativeai
pydantic>=2
gradio==5.34.1
gradio_client==1.10.3
parlant